<!DOCTYPE html>
<html>
<head>
  <title>Youbook</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/login.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div class="container" id="flash">
		<%if(error && error.length>0){%>
		  <div class="alert alert-danger" role="alert">
			  <%=error%>
		  </div>
		<%}%>
		<%if(success && success.length>0){%>
		  <div class="alert alert-success" role="alert">
			<%=success%>
		  </div>
		<%}%>
	</div>

<div class="container">
    <div class="card card-container">
        <img id="profile-img" class="profile-img-card" src="/logo/YouBook.jpg" />
        <p id="profile-name" class="profile-name-card"></p>
        <form class="form-signin" action="/register" method="POST" >
            <input class="form-control" type="text" placeholder="enter username" name="username" required autofocus>
            <input class="form-control" type="password" placeholder="enter password" name="password" required>
            
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Register</button>
        </form><!-- /form -->
        <a class="btn btn-lg btn-primary btn-block btn-signin" href="/login">Already a user?</a>
    </div><!-- /card-container -->
</div><!-- /container -->
<ul class="slideshow">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>


</body>






<%- include('footer'); -%>