body{
	background-repeat: no-repeat;
    background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));
}

html
{
    height: 100%;
}
.thumbnail img
{
	width: 100%;
}

.thumbnail
{
	padding: 0;
	
}


.thumbnail .caption-full
{
	padding: 9px;
}

.delete-form
{
	display: inline;
}

#postimage {
	display: block;
	max-width: 100%;
	height: 600px;
	width: 1000px;
  }

#thumbindex
{
	display: block;
	max-width: 100%;
	height: 200px;
	width: 300px;	
}

.jumbotron
{
	
	border-radius: 40%;
}

#more:hover,
#more:active,
#more:focus {
    background-color: rgb(12, 97, 33);
}


#postbtn:hover,
#postbtn:active,
#postbtn:focus {
    background-color: rgb(12, 97, 33);
}