<%- include('../partials/forms'); -%>

<div class="modal-dialog text-center form-page">
    <div class="col-sm-9 main-section">
    <h1 class="ftitle">Add new post</h1>
      <div class="modal-content">
          <div class="col-12">
          <h1></h1>
        </div>

        <div class="col-12 form-input">
			<form action="/home" method="POST" enctype="multipart/form-data">
        <div class="form-group">
			<input class="form-control" type="text" placeholder="enter name" name="name" oninvalid="this.setCustomValidity('Please Enter Your Postname')" required>
		</div>
			  <div class="form-group">
				<input class="form-control" type="text" placeholder="description" name="description">
			  </div>
			  <div class="form-group">
				<label class="btn btn-default btn-lg">
					Browse Image <input class="form-control" type="file" name="photo" hidden oninvalid="this.setCustomValidity('Include an image')" required/>
				</label>
				
			  </div>
            <button type="submit" class="btn btn-success">submit</button>
            <div class="goback">
            <a class="btn btn-warning btn-lg" href="/home/" > Go back!</a>
            </div>
          </form>


        </div>

   

      </div>
    </div>
</div>




<%- include('../footer'); -%>